canvas {
    border: 1px solid black;
}
#flex{
    display:flex; 
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#forimage{
    display:flex;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}form{
    display:flex;
    height: 30px;
    justify-content: space-around;
    align-items: center;
    width: 60%;

}#circle
{
    color: white;
    border: 2px solid black;
    border-radius: 100%;
}#square{
    color: white;
    border: 2px solid black;
}#circle:hover,#square:hover{
    border: 4px solid blue;
}#pencil:hover{
    color: blue;
}